.message {
  background-color: rgba(31, 41, 55, 0.5); /* semi-transparent card color */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  transition: all 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modelMessage {
  border: 1px solid rgba(0, 122, 255, 0.7);
}

.userMessage {
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;
  z-index: 1;
}

.userMessage::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px; /* Adjust to border width */
  border-radius: inherit; /* Match parent's border-radius */
  background: linear-gradient(
    to right,
    rgba(0, 122, 255, 0.9),
    rgba(0, 255, 255, 0.7)
  );
  animation: rotateGradient 5s ease-in-out infinite;
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
